ML - Linear Regression step 1 - Gathering the data

In [ ]:
# loading and reading the dataset

import numpy as np
import pandas as pd

data=pd.read_csv("/content/Housing (1) (1).csv")

In [ ]:
data.head(5) # show data row
 
 #here price (y axis) is the dependent variable which need to be predicted and all other independent variables .

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
data.furnishingstatus

0           furnished
1           furnished
2      semi-furnished
3           furnished
4           furnished
            ...
540       unfurnished
541    semi-furnished
542       unfurnished
543         furnished
544       unfurnished
Name: furnishingstatus, Length: 545, dtype: object

In [ ]:
data.info() # basic details of data .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
data.describe() # stat about data

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

Step 2 - Data Cleaning/Data preprocessing/Data wrangling - we make data suitable enough to create ML model - it will have good accuracy and performance.

If we observe the data, there are some categorial data points - ML algo not able to understand categorial variables, still we cannot drop these columns because there are important - so we will be doing technique called 'ONE HOT ENCODING' to convert categorial variables to numerical variables.

In [ ]:
# ONE HOT ENCODING to convert categorial variables to numerical variables. - column wise
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get) #we have assigned numerical values to identify categorial values - creating dictionary to do this - key value pair
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)

In [ ]:
data.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,1
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,1
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,0
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,2
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,0

tep 3- Divide the data into dependent (y axis) and independent (x axis) variables

In [ ]:
# we can consider these variables in list
x=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent variables
y=data['price'] #dependent variable

In [ ]:
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,2
1,8960,4,4,4,1,0,0,0,1,3,0,2
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,2
4,7420,4,1,2,1,1,1,0,1,2,0,2

In [ ]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Step 4 - Split the data into training and testing. with the help of sklearn library

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [ ]:
x_train.shape

(490, 12)

In [ ]:
y_train.shape

(490,)

In [ ]:
x_test.shape

(55, 12)

In [ ]:
y_test.shape

(55,)

Step 5 - Creating ML model by using Linear Regression algorithm.

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression() #variable assigned

In [ ]:
regression.fit(x_train,y_train)

LinearRegression()

In [ ]:
predictions=regression.predict(x_test) # predict the price on test data

In [ ]:
predictions

array([3946558.25360478, 3179437.40794476, 6866570.40913086,
       4236598.37938557, 4406433.65813882, 3810352.88400914,
       7445776.39383499, 4856442.1662026 , 5169278.62833049,
       2727064.51362558, 4896518.23009592, 4917594.91570049,
       6792075.96632578, 6783631.59542884, 3521021.25119809,
       4063944.43480584, 6505969.43601006, 5244553.22440967,
       2780070.62303168, 4866039.04181456, 2017552.4473085 ,
       4932422.82637123, 6951966.36994419, 2960639.56901639,
       3908751.49710022, 4600847.73338003, 2209892.64856085,
       3523943.7831457 , 6668666.32615714, 3398135.76170279,
       3920237.47622611, 4663196.38888632, 8266810.05120309,
       5666994.35447685, 8439947.84109224, 3358653.33772644,
       4824078.20112672, 4067899.35549785, 7633864.873501  ,
       3703156.2603867 , 5923408.77452506, 5959994.77631488,
       7085859.21190215, 3223234.36412701, 5109392.17373823,
       7105811.24232449, 5594787.07733022, 4454796.78323455,
       4470459.6642132 , 5868999.01321463, 6146845.76849   ,
       6117502.51077325, 4084996.03363989, 3752677.21378574,
       3429097.4111924 ])

In [ ]:
regression.score(x,y) #check the accuracy by passing 100% of data -67.9 . 3% accuracy

0.6789021220599926

In [ ]:
##lets take a new data from user and predict the price of the house.

print('Enter below details to get approximate price of the house.')
area=int(input('Area of the house: '))
bedrooms=int(input('No of Bedrooms: '))
bathrooms=int(input('No of Bathrooms: '))
stories=int(input('No of Stories: '))
mainroad=str.lower(input('Is it near mainroad, Yes or No?: '))
guestroom=str.lower(input('Guestroom, Yes or No?: '))
basement=str.lower(input('Basement, Yes or No?: '))
hotwaterheating=str.lower(input('Hot Water Heater, Yes or No?: '))
airconditioning=str.lower(input('Airconditioner, Yes or No?: '))
parking=int(input('No of parking spaces: '))
prefarea=str.lower(input('Prefarea, Yes or No?: '))
furnishingstatus=str.lower(input('Furniture, furnished/semi-furnished/unfurnished?: '))

new_datadict={'area':area,'bedrooms':bedrooms,'bathrooms':bathrooms,'stories':stories,'mainroad':mainroad,'guestroom':guestroom,'basement':basement,'hotwaterheating':hotwaterheating,'airconditioning':airconditioning,'parking':parking,'prefarea':prefarea,'furnishingstatus':furnishingstatus}

index=[1]
df1=pd.DataFrame(new_datadict,index)

df1['mainroad']=df1['mainroad'].apply({'yes':1,'no':0}.get)
df1['guestroom']=df1['guestroom'].apply({'yes':1,'no':0}.get)
df1['basement']=df1['basement'].apply({'yes':1,'no':0}.get)
df1['hotwaterheating']=df1['hotwaterheating'].apply({'yes':1,'no':0}.get)
df1['airconditioning']=df1['airconditioning'].apply({'yes':1,'no':0}.get)
df1['prefarea']=df1['prefarea'].apply({'yes':1,'no':0}.get)
df1['furnishingstatus']=df1['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)

prediction=regression.predict(df1)
print('Approximate price of the house for provided details will be: ','$',int(prediction))

Enter below details to get approximate price of the house.
Area of the house: 4000
No of Bedrooms: 1
No of Bathrooms: 1
No of Stories: 1
Is it near mainroad, Yes or No?: no
Guestroom, Yes or No?: yes
Basement, Yes or No?: no
Hot Water Heater, Yes or No?: yes
Airconditioner, Yes or No?: yes
No of parking spaces: 2
Prefarea, Yes or No?: yes
Furniture, furnished/semi-furnished/unfurnished?: furnished
Approximate price of the house for provided details will be:  $ 5893544